table,tr,th,td {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;
  }
  #container2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;
    margin-left: '10px';
  }
  
  #carta {
    padding: 10px;
    text-align: center;
    width: 300px;
  }
  
  #carta:hover {
   background-color:chartreuse;
  }
  
  @media (max-width: 50px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .inp{
    margin-bottom:3vh
  }